.product-row {
  .image {
    @extend .width-10;

    .image-thumb {
      width: 85px;
    }
  }
  // .name      { @extend .width-25; }
  // .specs     { @extend .width-40; }
  // .bid-count { @extend .width-15; }
  // .actions   { @extend .width-10; }
}