<template name="footer">
  <footer class="footer">
    <div class="container">
      <div class="support-links">
        <a class="support-link" href="#">About</a>
        <a class="support-link" href="#">Contact Us</a>
        <a class="support-link" href="#">Terms of Service</a>
      </div>
    </div>
  </footer>
</template>