<template name="jumbotron">
  <div class="jumbotron push-bottom-lg">
    <div class="container">
      <h1>Welcome to AuctionEgg!</h1>
      <p>
        Lorem ipsum dolor sit amet, in nam rebum partem graeci, cu vel nonumy quodsi. Est idque scripserit cu. Vis ea animal aperiam offendit. Regione constituam eos ex, ex mei ponderum splendide. Ex sit quis graeci maiorum.
      </p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">View products »</a>
      </p>
    </div>
  </div>
</template>