<template name="navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="fluid-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AuctionEgg</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          {{#if isInRole 'admin'}}
            <li><a href="/dashboard">Admin Dashboard</a></li>
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>
