.footer {
  @include position-absolute;
  padding: 28px 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #f5f5f5;

  .support-links {
    @include text-center;

    .support-link {
      @include display-block;
    }
  }
}