.navbar .navbar-brand {
  font-size: 20px;
  font-weight: 700;
  // color: #9600ff;
  padding: 18px 15px;
}

.navbar .navbar-brand:hover {
  // color: #9600ff;
}

.navbar-inverse {
  .navbar-collapse {
    padding-right: 20px;
  }
}

