<template name="dashboard">
  <h1 class="h2 push-top">Product Management</h1>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped push-top">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Specs</th>
            <th>Bids</th>
            <th>Price</th>
            <th>Actions</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          {{#if productCount}}
            {{#each products}}
              <tr class="product-row">
                <td class="image">
                  <img class="img-responsive {{#if imagePath}}img-thumbnail{{/if}} image-thumb" src="{{imageUrl}}" />
                </td>
                <td class="name">
                  {{#if editingProduct}}
                    <div class="form-group">
                      <input type="text" class="name-input form-control" name="name" value="{{name}}" />
                    </div>
                  {{else}}
                    {{name}}
                  {{/if}}
                </td>
                <td class="specs">
                  {{#if editingProduct}}
                    <div class="form-group">
                      <textarea name="specs" class="specs-input form-control" rows="6" value="{{specs}}"></textarea>
                    </div>
                  {{else}}
                    {{specs}}
                  {{/if}}
                </td>
                <td class="bid-count">{{bidCount}}</td>
                <td class="price">
                  {{#if editingProduct}}
                    <div class="form-group">
                      <input type="text" class="price-input form-control" name="name" value="{{price}}" />
                    </div>
                  {{else}}
                    ${{price}}
                  {{/if}}
                </td>
                <td class="actions" colspan="2">
                  {{#if editingProduct}}
                    <a href="#" class="btn btn-default btn-xs update-product">Save</a>
                    <a href="#" class="btn btn-warning btn-xs cancel-update">Cancel</a>
                  {{else}}
                    <a href="#" class="btn btn-default btn-xs push-bottom-xs edit-product">Edit</a>
                    <a href="#" class="btn btn-danger btn-xs push-bottom-xs delete-product">Delete</a>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr class="text-center">
              <td colspan="7" rowspan="2">
                No products available. Create some below.
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>

    </div>

  </div>



  <h1 class="h2 push-top push-bottom">Create Product</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="image">Product image</label>
        <input type="file" class="product-image push-top-xs push-bottom-xs">
      </div>
      <form id="new-product-form" role="form">
        <div class="form-group display-inline-block push-right-sm">
          <div class="input-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter a name for your product" />
          </div>
        </div>
        <div class="form-group display-inline-block">
          <div class="input-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" placeholder="Price in dollars" />
          </div>
        </div>
        <div class="form-group width-50">
          <label for="specs">Specs</label>
          <textarea name="specs" class="form-control" rows="8" cols="40" placeholder="Add details about the product"></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
      </form>
    </div>
  </div>

</template>
