<template name="product">
  <div class="product-display text-center">
    <div class="product-image push-bottom">
      <img class="img-responsive push-0-auto" src="{{imageUrl}}" alt="">
    </div>
    <h1 class="h4">{{name}}</h1>
    <p class="push-bottom-sm">{{specs}}</p>
    {{#if price}}
      <h2 class="h3 push-bottom-sm">${{price}}</h2>
    {{/if}}

    <div class="action-buttons">
      <button class="btn btn-default btn">View Details</button>
      <button class="btn btn-success btn">Place Bid</button>
    </div>
  </div>
</template>