<template name="index">
  {{> jumbotron}}
  <div class="row push-top">
    {{#each products}}
      <div class="col-sm-4 push-bottom-lg">
        {{> product}}
      </div>
    {{/each}}
  </div>
</template>
