//==============================================================================
// Typography helper classes
//==============================================================================
@mixin text-normal { font-weight: normal !important; }
.text-normal { @include text-normal; }

@mixin text-bold { font-weight: bold !important; }
.text-bold { @include text-bold; }

@mixin text-italic { font-style: italic !important; }
.text-italic { @include text-italic; }

@mixin text-lowercase { text-transform: lowercase !important; }
.text-lowercase { @include text-lowercase; }

@mixin text-uppercase { text-transform: uppercase !important; }
.text-uppercase { @include text-uppercase; }

@mixin text-capitalize { text-transform: capitalize !important; }
.text-capitalize { @include text-capitalize; }

@mixin text-titelize { text-transform: titelize !important; }
.text-titelize { @include text-titelize; }

@mixin text-transform-none { text-transform: none !important; }
.text-transform-none { @include text-transform-none; }

@mixin text-decoration-none { text-decoration: none !important; }
.text-decoration-none { @include text-decoration-none; }

@mixin text-left { text-align: left !important; }
.text-left { @include text-left; }

@mixin text-right { text-align: right !important; }
.text-right { @include text-right; }

@mixin text-center { text-align: center !important; }
.text-center { @include text-center; }


@mixin body {
  @include font-size($font_size);
  @include push-none;
}
.body { @include body; }

@mixin h1 {
  @include font-size($font_size_h1);
  @include push-none;
}
.h1 { @include h1; }

@mixin h2 {
  @include font-size($font_size_h2);
  @include push-none;
}
.h2 { @include h2; }

@mixin h3 {
  @include font-size($font_size_h3);
  @include push-none;
}
.h3 { @include h3; }

@mixin h4 {
  @include font-size($font_size_h4);
  @include push-none;
}
.h4 { @include h4; }

@mixin h5 {
  @include font-size($font_size_h5);
  @include push-none;
}
.h5 { @include h5; }

@mixin h6 {
  @include font-size($font_size_h6);
  @include push-none;
}
.h6 { @include h6; }

@mixin p {
  @include font-size($font_size_p);
  @include push-none;
}
.p { @include p; }

@mixin li {
  @include font-size($font_size_li);
  @include push-none;
}
.li { @include li; }
